#footer{
    box-shadow: 0 0 3rem  #1699ad;
    background-color: #1692a5;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    font-size: 1rem;
    padding: 1rem;
}

.footer-content{
    width:70%;
    margin:1rem auto!important;
}

.footer-link{
    color:white;
    margin: 0 0 0 3rem;
    text-decoration: none;
}

.footer-link:hover{
    text-decoration: none;
    color: black;
}
