.service-provider-profile-page {
  padding: 2rem;
  background-color: #bdc1c4;
  overflow-x: hidden;
  background-image: url('../images/69.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}

.service-loading{
  display: grid;
  place-content: center;
}

.service-provider-profile-body {
  width: 80%;
  min-height: 80vh;
  /* min-width: 67rem; */
  margin: 0 auto;
}

.service-provider-profile-detail-container {
  background-color: white;
  box-shadow: 0 0 1rem rgb(200, 200, 200, 0.5);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgb(200, 200, 200);
}

.service-provider-profile-image {
  max-width: 13rem;
  margin: 0 auto;
}

.service-provider-profile-name {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  word-spacing: 0.3rem;
}

.service-provider-profile-detail {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.2rem;
  letter-spacing: 1px;
  color: rgb(6, 141, 123);
}

.service-provider-profile-comment {
  background-color: white;
  min-height: 20rem;
  padding:1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgb(200, 200, 200);
}

.comment-empty{
    display: grid;
    place-content: center;
    height: 30vh;
    font-size: 2rem;
    font-weight: 700;
    padding:5rem;
    text-align: center;
    color: rgb(116, 116, 116);
}

.comment-content{
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(92, 92, 92);
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}